<div class="row">
  <div class="col-8 offset-2">
    <div class="card mt-4">
      <div class="card-body">
        <h5 class="card-title">Thread</h5>
        <p>
          <strong>User</strong>: {{example.id}}</p>
        <p>
          <p>
            <strong>Title</strong>: {{example.text}}</p>
          <p>
            <strong>Thread Content:</strong> {{example.description}}</p>
          <hr>
          <!-- Form for users to post replies -->
          <form class="clearfix mb-4" id="create-post">

            <div class="form-group">
              <h4 class="alert alert-dark" role="alert" for="post-title">Thread Title:</h4>
              <input type="text" id="post-title" class="form-control" aria-describedby="example-text"
                placeholder="Post Title">
            </div>

            <div class="form-group">
              <h4 class="alert alert-dark" role="alert" for="post-body">Reply: </h4>
              <textarea class="form-control" id="post-body" aria-describedby="post-body"
                placeholder="post your reply here"></textarea>
            </div>
            <button type="submit" class="btn btn-primary float-right">Submit</button>
          </form>
          <!-- Form for users to post replies -->
          <a href="/profile">← Back To Topics</a>


          <h3 class="alert alert-primary" role="alert">Posts</h3>
          <ul id="post-list" class="list-group">
            {{#each posts}}
            <li data-id="{{this.id}}" class="list-group-item">
              {{!-This link goes to the example (post) page-}}
              <a href="example/{{this.id}}">{{this.body}}</a>
              {{!-Delete button for deleting thread-}}
              <button class="btn btn-danger float-right delete">ｘ</button>
            </li>
            {{/each}}
          </ul>
      </div>
    </div>
  </div>
</div>

<script>


  $("#create-post").on("submit", function (e) {
    e.preventDefault();
    $.ajax({
      method: "POST",
      url: "/api/post",
      data: {
        body: $("#post-body")
          .val()
          .trim(),
        title: $("#post-title")
          .val()
          .trim()
      }
    })
      .then(function (data) {
        console.log(data);
        window.location.replace(data);
      })
      .catch(function (err) {
        console.log(err);
        alert(err.responseText);
      });

    //getting all posts from database.post table

    $.ajax({
      method: "GET",
      url: "/api/post",
      data: {
        body: $("#post-body")
          .val()
          .trim(),
        title: $("#post-title")
          .val()
          .trim()
      }
    })
      .then(function (data) {
        console.log(data);
        window.location.replace(data);
      })
      .catch(function (err) {
        console.log(err);
        alert(err.responseText);
      });
  });



//create new posts
</script>