<div class="card login_card">
  <div class="card-body">

    <div class="row">
      <div class="col-8 offset-2">
        <!-- Topic Header // will change dynamically #topic_header Just a place holder for now-->
        <div>
          <h1 id="topic_header">Topic: {{title}}<img src="/images/github-logo_threads_page.png" width="150px"
              height="50px"></h1>
          <hr>
        </div>
        <!-- START Button for Creating new Thread Below, when clicked the button will hide and the create_topic_but will show-->
        <button id="create_topic_but" class="btn btn-block btn-primary create_button">Create a New Thread Here</button>
        <!-- END Button for Creating new Thread Below, when clicked the button will hide and the create topic will show-->
        <hr>
        <div id="create_topic">
          <form class="clearfix mb-4" action="POST">

            <div class="form-group">
              <h4 class="alert alert-dark" role="alert" for="example-text">Thread Title:</h4>
              <input type="text" data-topicid={{TopicId}} id="thread-title" class="form-control" aria-describedby="example-text"
                placeholder="Thread Title">
            </div>

            <div class="form-group">
              <h4 class="alert alert-dark" role="alert" for="example-description">Body of the Post: </h4>
              <textarea class="form-control" id="example-description" aria-describedby="post-body"
                placeholder="Post Body"></textarea>
            </div>
            <button id="create-thread" class="btn btn-primary float-right">Submit</button>
          </form>
        </div>
        <h3 class="alert alert-primary" role="alert">Threads</h3>
        <ul id="example-list" class="list-group">
          {{#each Thread}}
          <li data-id="{{this.id}}" class="list-group-item posts">
            <a href="posts/{{this.id}}">{{this.title}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script>

  $(".posts").on("click", function (e) {
    const postId = $(this).attr("data-id");
    console.log(parseInt(postId))
    e.preventDefault();

    window.location.href = `/posts/${postId}`;



  });
</script>